<div class="container">

  <!-- City content -->
  <div class="row" style="margin-top: 28px;">
    <!-- Cities Menu -->
    <div class="col-md-3">
      <br>
      <div class="list-group list-group-flush">
        <!-- Cities List -->
        <a *ngFor="let city of cities" (click)="selectCity(city)" class="list-group-item list-group-item-action">
          <i class="fa"></i>
          <input [(ngModel)]="city.name" (change)="updateCity(city)" type="text" class="input-label" style="width: 80%;">
          <a (click)="deleteCity(city)" class="pull-right text-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </a>
      </div>
    </div>

    <!-- Description Panel -->
    <!--    Message if there's no selected city-->
    <div *ngIf="currentCity == null" class="col-md-9">
      <div class="row">
        <p>Select city in the left panel to manage it's description.</p>
      </div>
    </div>

    <div *ngIf="currentCity != null" class="col-md-9">
      <div class="row">
        <!-- Description -->
        <textarea class="input-label"
                  style="width: 100%; background-color: antiquewhite"
                  [(ngModel)]="currentCity.cityDescription"
                  (change)="updateCityDescription(currentCity)"
                  rows="10"
        >
        </textarea>
      </div>
    </div>

  </div>
</div>

