<div class="panel-heading" style="margin-top: 20px; margin-bottom: 20px;">
  <h2 align="center">Edit Book</h2>
</div>
<div class="row">
  <div class="offset-3"></div>
  <div class="col-md-6">
    <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && updateBook()" novalidate class="feedback-form">

      <!-- Title -->
      <div class="form-group">
        <input type="text"
               id="title"
               class="form-control"
               placeholder="Enter book title..."
               name="title"
               [(ngModel)]="book.title"
               #name="ngModel"
               [ngClass]="{'is-invalid': f.submitted && name.invalid}"
               required minlength="1"/>
        <div *ngIf="f.submitted && name.invalid" class="invalid-input">
          <div *ngIf="name.errors?.required">Book title is not valid</div>
          <div *ngIf="name.errors?.minlength">Book title should contain more than 1 character</div>
        </div>
      </div>

      <!--      Authors-->
      <div class="form-group">
        <ng-multiselect-dropdown
          [placeholder]="'Select authors...'"
          [settings]="authorsDropdownSettings"
          [data]="authorsDropdownList"
          [(ngModel)]="book.authors" [ngModelOptions]="{standalone: true}"
        ></ng-multiselect-dropdown>
      </div>

      <!--      Genre-->
      <div class="form-group">
        <select name="genre"
                class="form-control"
                [(ngModel)]="book.genre"
                [ngModelOptions]="{standalone: true}">
          <option value="" disabled>Select genre...</option>
          <option *ngFor="let genre of genresList" [ngValue]="genre">
            {{ genre.name }}
          </option>
        </select>
      </div>

      <button type="submit" class="btn btn-info">
        <span>update book</span>
      </button>
    </form>
  </div>
  <div class="offset-3"></div>
</div>

