<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Room</title>
</head>
<body>
<div id="SwitchDiv">
    <form id="messagebox" name="messagebox">
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Room name</th>
            <th>Country</th>
            <th>Bulb state</th>
        </tr>
        <tr>
            <td id="idRoom" th:text="${roomDtoById.id}">...</td>
            <td id="name" th:text="${roomDtoById.name}">...</td>
            <td id="countryName" th:text="${roomDtoById.countryName}">...</td>
            <td id="bulbTurnedOn" th:text="${roomDtoById.bulbTurnedOn} ? 'true' : 'false'"></td>
            <td id="bulbState"></td>
        </tr>
    </table>
<!--    <div>-->
<!--        <button type="submit" id="switch" onclick="sendMessage();">Switch bulb state</button>-->
<!--    </div>-->



<!--        <div class="form-group">-->
<!--            <label for="message">Enter Message:</label>-->
<!--            <input type="text" class="form-control" id="message" aria-describedby="name" placeholder="Enter message to chat ....">-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary">Send</button>
    </form>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="/js/mychat.js"></script>

</body>
</html>