<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Room</title>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Room name</th>
            <th>Country</th>
            <th>Bulb state</th>
        </tr>
        <tr>
            <td th:utext="${roomDtoById.id}">...</td>
            <td th:utext="${roomDtoById.name}">...</td>
            <td th:utext="${roomDtoById.countryName}">...</td>
            <td th:text="${roomDtoById.bulbTurnedOn} ? 'ON' : 'OFF'"></td>
        </tr>
    </table>
</div>
</body>
</html>